<blockquote class="blockquote">
  <p>Your question was: <%= params[:question] %></p>
  <footer class="blockquote-footer">Here's the answer: <%= @answer %></footer>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
