<form action="answer" data-turbo="false">
<label for="question">Ask something to the coach:</label>
  <input id="question" type="text" name="question" value=<%= params[:question] %> >
  <input type="submit" value="Ask!">
</form>
